name: Integration test for setup-kubectl
on: # rebuild any PRs and main branch changes
   pull_request:
      branches:
         - main
         - 'releases/*'
   push:
      branches:
         - main
         - 'releases/*'

jobs:
   run-integration-test:
      name: Validate release and master branch
      runs-on: ubuntu-latest
      env:
         KUBECONFIG: /home/runner/.kube/config
         PR_BASE_REF: ${{ github.event.pull_request.base.ref }}
      steps:
         - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
           name: Checkout from PR branch

         - id: action-npm-build
           name: npm install and build
           run: |
              echo $PR_BASE_REF
              if [[ $PR_BASE_REF != releases/* ]]; then
                npm install
                npm run build
                # remove node_modules to match production environment where only index.js is present
                rm -rf node_modules 
              fi

         - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
           name: Install Python
           with:
              python-version: '3.x'

         - name: Install requests library
           run: pip install requests

         - name: Setup kubectl latest
           uses: ./
           with:
              version: 'latest'

         - name: Validate kubectl setup
           run: python test/validate-kubectl.py latest

         - name: Setup kubectl old version
           uses: ./
           with:
              version: 'v1.15.1'

         - name: Validate kubectl setup old version
           run: python test/validate-kubectl.py 'v1.15.1'
