name: Integration test for setup-kubectl
on: # rebuild any PRs and main branch changes
   pull_request:
      branches:
         - main
         - 'releases/*'
   push:
      branches:
         - main
         - 'releases/*'

jobs:
   run-integration-test:
      name: Validate release and master branch
      runs-on: ubuntu-latest
      env:
         KUBECONFIG: /home/runner/.kube/config
         PR_BASE_REF: ${{ github.event.pull_request.base.ref }}
      steps:
         - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
           name: Checkout from PR branch

         - id: action-npm-build
           name: npm install and build
           run: |
              echo $PR_BASE_REF
              if [[ $PR_BASE_REF != releases/* ]]; then
                npm install
                npm run build
              fi

         - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
           name: Install Python
           with:
              python-version: '3.x'

         - name: Install requests library
           run: pip install requests

         - name: Setup kubectl latest
           uses: ./
           with:
              version: 'latest'

         - name: Validate kubectl setup
           run: python test/validate-kubectl.py latest

         - name: Setup kubectl old version
           uses: ./
           with:
              version: 'v1.15.1'

         - name: Validate kubectl setup old version
           run: python test/validate-kubectl.py 'v1.15.1'
