name: 'Run prettify'
on:
   pull_request:
   push:
      branches: [main]

jobs:
   prettier:
      name: Prettier Check
      runs-on: ubuntu-latest
      steps:
         - name: Checkout Repository
           uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

         - name: Setup Node.js
           uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
           with:
              node-version: 'lts/*'
              cache: 'npm'

         - name: Install Dependencies
           run: npm ci

         - name: Run Prettier Check
           run: npx prettier --check .
