name: 'Run prettify'
on:
   pull_request:
   push:
      branches: [main]

jobs:
   prettier:
      name: Prettier Check
      runs-on: ubuntu-latest
      steps:
         - name: Checkout Repository
           uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

         - name: Setup Node.js
           uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
           with:
              node-version: 'lts/*'
              cache: 'npm'

         - name: Install Dependencies
           run: npm ci

         - name: Run Prettier Check
           run: npx prettier --check .
